.partner-card{ display: block;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    position: relative;
    width: 100%;
    display: block;
    &:hover{
        box-shadow: 0 3px 25px rgba(0, 0, 0, 0.17);
        background-color: #ffffff;
        @extend %transition;
    }
    .partner-card-image{  overflow: hidden; position: relative; display: block; 
        img { display: block; background-size: cover; background-position: center center; position: absolute; width: 100%; top: 0;  overflow: hidden; height: 100%; 
            object-fit: cover; }
    
        &::before { content: ""; display: block;     padding-bottom: 76%; height: 0; }

    }
    .card-text{@include padding(14px 22px);
        .category-name{
            font-family: $SemiBold;
            color: #8e8e8e;
            font-size: 16px;
            padding-bottom: 8px;
        }
        .card-texting{
            font-size: 17px;
            font-family: $SemiBold;
            color: #1a1a1a;
            margin-bottom: 20px;
            line-height: 23px;
            overflow: hidden; white-space: inherit; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
        }
        span{
            color: #831212;
        }
    }
}