.haqqımızda-main{@include padding-bottom(70px);
    .partner-heading{
        width: 185px;
        @extend %button;
    }
    .haqqımızda-box{border: 1px solid #dddddd;
        @include padding(22px 40px);
        @include mobile-l{
            @include padding(22px 20px);
        }
        .haqqımızda-heading{
            font-family: $SemiBold;
            color: #831212;
            @include font-size(20px);
            padding-bottom: 20px;
            @include mobile-l{
                text-align: center;
            }
        }
        .haqqımızda-text{
            font-size: 17px;
            font-family: $regular;
            line-height: 22px;
            @include mobile-l{
                text-align: center;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    .hikayemiz{
        @include margin-bottom(80px);
    }
}

.niye-saville{background-color: #831212; background-image: url(/assets/img/background/savilleback.svg);
    background-repeat: no-repeat;
    min-height: 624px;
    background-position: 0%,-50%;
    @include desktop-sm{
        min-height: 831px;
    }
    @include mobile-display{
        min-height: 931px;
        background-image: none;
    }
    position: relative;
    &::after{
        content: '';
        background-color: #831212;
        display: block;
        height: 40%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        bottom: -200px;
        transform: skewY(
    0deg
    );
        transform-origin: 1%;
    }
    .saville-heading{ @include padding-top(76px); text-align: center;
        h2{
            font-family: $SemiBold;
            color: #fff;
            @include font-size(20px);
        }
        p{
            font-size: 17px;
            font-family: $regular;
            color: #fff;
            line-height: 21px;
        }
    }
    .saville-list-main{@include padding(63px 0);
        .saville-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .saville-item{
                position: relative;
                display: flex;
                align-items: center;
                color: #fff;
                font-family: $SemiBold;
                font-size: 17px;
                cursor: pointer;
                @include padding(0 0 44px);
                @include desktop-sm{
                    width: 245px;
                    margin-bottom: 60px;
                }
                @include mobile-display{
                    width: 65%;
                    flex-direction: column;
                    margin: auto;
                    @include padding(0 0 20px);
                }
                @include mobile-l{
                    width: 100%;
                }
                &.active{
                    .circles{
                        width: 14px;
                        height: 14px;
                        border: 1px solid rgba(255, 255, 255, 1);
                    }
                    .alt-list{
                        display: block;
                        width: 517px;
                  
                    }
                }
          
                .bi-chevron-down{
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    transform: translate(10px, -26px);
                    @include desktop-sm{
                        transform: translate(0px, -15px);
                    }
                    @include mobile-display{
                        position: inherit;
                        bottom: inherit;
                        left: inherit;
                        margin-top: 10px;
                        transform: translate(0px, 0px);
                    }
                }
                .svg{
                    margin-right: 10px;
                    @include mobile-display{
                        margin-bottom: 15px;
                        margin-right: 0px;
                    }
                }
                .circles{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 22px;
                    @extend %transition;
                    height: 22px;
                    border: 1px solid rgba(255, 255, 255, .3);
                    border-radius: 50%;
                    position: absolute;
                    top: -9px;
                    right: -29px;
                    bottom: 0px;
                    transform: translate(10px 10px);
                    pointer-events: none;
                    @include desktop-sm{
                        right: 20px;
                    }
                    @include mobile-display{
                        right: 59px;
                    }
                    >span{
                        width: 8px;
                        height: 8px;
                        display: block;
                        border-radius: 50%;
                        background-color: #fff;
                    }
                }
                .alt-list{    border: 1px solid rgba(255, 255, 255, .3); 
                    overflow: hidden;
                    position: absolute;
                    width: 530px;
                    height: 217px;
                    @include textins;
                    display: none;
                    top: 50%;
                    left: 50%;
                    right: 0px;
                    @include padding(25px);
                    transform: translate(-45%, 18%);
                    @include desktop-l{
                        width: 280px !important;
                    }
                    @include desktop-sm{
                        width: 340px !important;
                        background-color: #831212;
                        z-index: 1;
                        @include padding(15px);
                        transform: translate(-45%, 19%);
                    }
                    @include mobile-display{
                        background-color: #831212;
                        z-index: 1;
                        width: 100% !important;
                        position: inherit;
                        top: inherit;
                        left: inherit;
                        right: inherit;
                        transform: translate(-0%, 0%) !important;
                        @include padding(15px);
                    }
               
                    .alt-item{
                        p{
                            font-family: $regular;
                            color: #fff;
                            @include textins;
                            overflow: hidden; white-space: inherit; text-overflow: ellipsis; display: -webkit-box; 
                            -webkit-line-clamp: 8; -webkit-box-orient: vertical;
                            @include desktop-l{
                                font-size: 15px;
                                -webkit-line-clamp: 10;
                            }       
                            @include desktop-sm{
                                -webkit-line-clamp: 10;
                            }                    
                            @include mobile-l{
                                font-size: 16px;
                            }
                        }
                        .styles{
                            display: block;
                            width: 29px;
                            height: 34px;
                            border: 1px solid #ffffff;
                            border-radius: 0px;
                        }
                        .left-tops{
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            border-right: none;
                            border-bottom: none;
                        }
                        .bottom-rights{
                            position: absolute;
                            right: 0px;
                            bottom: 0px;
                            border-left: none;
                            border-top: none;
                        }
                    }
                }
            }
        }
    }

}

.sertifikalar{
    background-image: url(/assets/img/background/sertifikalar-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 65vh;
    @include padding(90px 0);

    @media (min-width: 2500px) {
        min-height: 45vh;
    }
    h3{
        font-family: $SemiBold;
        @include font-size(20px);
        text-align: center;
        color: #fff;
    }
    .sertifika-card-main{display: flex; flex-wrap: wrap; 
        justify-content: center;
        @include mobile-l{
            flex-direction: column;
            align-items: center;
        }
        @include padding-top(67px);
        .sertifikar-card{
            display: block;
            position: relative;
            width: 194px;
            height: 261px;
            @include margin-right(35px);
            @include mobile-display{
                margin-bottom: 40px;
            }
            @include mobile-l{
                width: 143px;
                height: 199px;
                margin-right: 0px;
            }
            &:hover{
                span{
                    height: 100%;
                }
            }
            span{
                background-color: rgba(0, 0, 0, 0.4);
                width: 100%;
                height: 50px;
                position: absolute;
                bottom: 0px;
    @extend %transition;
                left: 0px;
                i{
                    color: #fff;
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% , -50%);
                }
            }
            &:last-child{
                margin-right: 0px;
            }
            img{
                @extend %img-size;
            }
        }
    }
}