.home-section-1 { height: 912px; margin-top: -51px; width: 100%; transform: skew(0deg, 3deg); background-image: url(/assets/img/image-test/home-1.jpg); background-position: bottom; background-repeat: no-repeat; background-size: cover; position: relative; overflow: hidden; z-index: 1; 

    @media all and (min-width:1922px) { height: 99vh !important; transform: skew(0deg,
                2deg); }

    @include desktop-xl { height: 740px; }

    @include desktop-l { height: 639px; }

    @include desktop-sm { height: 566px; }

    @include mobile-xl { height: 599px; }

    @include mobile-l { height: 353px; margin-top: -15px; }

    &::before { content: ''; width: 100%; height: 100%; background-color: rgba(92, 15, 15, 0.3); position: absolute; top: 0px; }

    .section1-text { position: absolute; width: 22%; bottom: 39%; -webkit-transform: skew(0deg,
                -3deg); transform: skew(0deg,
                -3deg); left: 165px; @include desktop-xl { width: 33%; }

        @include desktop-l { width: 33%; bottom: 31%; }

        @include desktop-sm { width: 33%; bottom: 31%; }

        @include mobile-display { width: 51%; bottom: 27%; left: 8%; }

        @include mobile-l { left: 4%; width: 60%; }

        h1 { @include font-size(50px); @include margin-bottom(30px); font-family: $SemiBold; color: #fff; @include mobile-l { font-size: 16px
            }
        }

        p { @include font-size(25px); font-family: $regular; color: #fff; line-height: 28px; @include mobile-l { font-size: 15px
            }
        }
    }
}

.home-section-2 { min-height: 1030px; background-attachment: fixed; margin-top: -1px; width: 100%; transform: skew(0deg, 3deg); background-image: url(/assets/img/image-test/home-about.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover; position: relative; overflow: hidden; z-index: 1; 

    @media all and (min-width:1922px) { min-height: 88vh !important; transform: skew(0deg,
                2deg); }

    @include desktop-l { min-height: 943px; }

    &::before { content: ''; width: 100%; height: 100%; background-color: rgba(92, 15, 15, 0.8); position: absolute; top: 0px; }

    .home-about-main { position: relative; z-index: 1; width: 80%; margin: auto; transform: skew(0deg, -3deg); @include padding(80px 0px); 

        @media all and (min-width:1922px) { transform: skew(0deg,
                    -2deg); }

        @include desktop-l { width: 85%; }

        @include desktop-sm { width: 90%; }

        @include mobile-display { width: 100%; }

        .about-heading { text-align: center; 

            h1 { @include font-size(50px); color: #fff; opacity: 0.3; font-family: $bold; @include mobile-l { font-size: 25px
                }
            }

            .about-text-1 { @include font-size(30px); color: #fff; font-family: $SemiBold; @include padding-top(20px); @include mobile-l { font-size: 19px
                }
            }

            .about-text-2 { @include padding-top(25px); @include font-size(20px); @include mobile-l { font-size: 15px
                }

                font-family: $regular; color: #fff; line-height: 22px; }
        }

        .about-reklam { @include padding-top(89px); 

            .left { @include mobile-display { text-align: center; margin-bottom: 20px; }

                h2 { @include font-size(30px); font-family: $SemiBold; color: #fff; @include padding-bottom(20px); @include mobile-l { font-size: 19px
                    }
                }

                p { @include font-size(17px); color: #fff; font-family: $regular; line-height: 22px; @include mobile-l { font-size: 15px
                    }
                }
            }

            .right { @include mobile-display { margin-bottom: 50px; }

                .about-player { display: block; width: 100%; height: 374px; position: relative; @include desktop-l { height: 298px; }

                    @include desktop-sm { height: 256px; }

                    @include mobile-l { height: 235px; }

                    img { width: 100%; height: 100%; 
                        object-fit: cover; }

                    i { color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); @include font-size(50px); }
                }
            }
        }

    }
}

.home-section-3 { min-height: 1110px; width: 100%; transform: skew(0deg, 3deg); margin-top: -1px; 

    @media all and (min-width:1922px) { height: 68vh !important; transform: skew(0deg,
                2deg); }

    @include desktop-l { min-height: 1051px; }

    @include desktop-sm { min-height: 1094px; }

    @include mobile-display { min-height: 962px; }

    @include mobile-l { min-height: 771px; }

    background-image: url(/assets/img/background/home-product-background.jpg); background-repeat: no-repeat; background-position: bottom; background-size: cover; position: relative; z-index: 1; 

    &::after { content: ''; background-color: #fff; display: block; height: 201px; left: 0; position: absolute; right: 0; z-index: -1; bottom: -87px; transform: skewY(-5deg); 

        @media all and (min-width:1922px) { transform: skew(0deg,
                    -2deg); }
    }

    .our-product-main { transform: skew(0deg, -3deg); width: 80%; margin: auto; @include desktop-sm { width: 100%; }

        @include mobile-display { width: 100%; }

        .partner-heading { @extend %button; width: 185px; background-color: #831212; 

            &::before { background-color: #671010; }
        }

        #ourproductslider { @include padding(40px 0 0); @include mobile-display { padding: 0px 0 0; }

            .owl-item { @extend %transition; 

                &.center { transform: scale(1.2); @include mobile-display { transform: scale(1.1); }
                }
            }

            .mahsulcard { height: 650px; @include padding(33px 30px 0px); width: 249px; margin: 80px auto; border: 1px solid transparent; border-radius: 0px; 
                @extend %transition; display: block; text-decoration: none; position: relative; @include desktop-l { height: 594px; }

                @include desktop-sm { height: 506px; }

                @include mobile-display { width: 177px; height: 573px; margin: 60px auto 70px; @include padding(10px 15px 0px); }

                @include mobile-l { width: 65%; height: 440px; padding: 20px 20px 0; }

                &:hover { box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12); 
                    @extend %transition; border-color: #e0e0e0; 

                    &::after { opacity: 1; top: 10px; left: 10px; 
                        @extend %transition; @include mobile-display { top: 5px; left: 5px; }
                    }
                }

                &::after { content: ''; width: 100%; height: 100%; border: 1px solid #e0e0e0; position: absolute; top: 0px; left: 0px; opacity: 0; }

                .mahsulcard-image { height: 466px; margin: auto; position: relative; @include desktop-l { height: 418px; }

                    @include desktop-sm { height: 318px; }

                    @include mobile-display { height: 410px; }

                    @include mobile-l { height: 292px; }

                    img {
                        object-fit: scale-down; 
                        object-position: bottom; position: absolute; display: block; bottom: 0px; left: 50%; transform: translate(-50%, 0); width: 100%; height: 100%; }
                }

                .mahsul-name { @include font-size(18px); line-height: 22px; font-family: $medium; color: #fff; text-align: center; overflow: hidden; white-space: inherit; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; margin-top: 35px; @include mobile-l { font-size: 14px; margin-top: 17px; }
                }

                .mahsul-content { @include font-size(15px); font-family: $regular; color: #fff; text-align: center; overflow: hidden; white-space: inherit; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 17px; margin-top: 15px; @include mobile-l { font-size: 12px; margin-top: 12px; }
                }

            }

            .owl-nav { position: absolute; left: 44%; bottom: -112px; @include mobile-display { left: 40%; bottom: -104px; }

                @include mobile-l { left: 31%; bottom: -45px; }

                button { width: 67px; height: 36px; border-radius: 0px; background-color: #831212; 

                    &:hover { background-color: #fff; 

                        @extend %transition; 

                        i { color: #831212; }
                    }

                    i { color: #fff; font-size: 25px; }
                }
            }
        }

    }

    .home-about-left-nar { position: absolute; left: 0px; top: -88px; }

    .home-maslahat-nar-right { position: absolute; bottom: 46px; right: -42px; width: 16%; }
}

.home-section-4 { position: relative; background-color: #fff; 

    .maslahat-main { position: relative; z-index: 1; 

        .partner-heading { @extend %button; width: 235px; top: 0px; 

            &::before { z-index: 0; }
        }


        #home_maslahat_slider { @include padding(85px 0); 

            .partner-card { @include margin(0 0 20px); }

            .owl-nav { @include margin(60px 0 40px); 

                button { width: 67px; height: 36px; border-radius: 0px; border: 1px solid #831212; 

                    &:hover { background-color: #831212; 

                        @extend %transition; 

                        i { color: #fff; }
                    }

                    i { color: #831212; font-size: 25px; }
                }
            }
        }

    }
}